﻿@model ActivityLogSearchModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Configuration.ActivityLog.ActivityLog").Text;
}
<script type="text/javascript">
    $(function () {
        $("#setting-tab").css('background', '#2f363a')
    })
</script>

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title" style="font-size:21px;">
            <img src="@Url.Content("~/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.ActivityLog.ActivityLog")
        </div>
        <div class="options">
            <a href="@Url.Action("ClearAll")" class="k-button">@T("Admin.Common.Clear")</a>
            <input type="button" id="btnSearch" class="k-button" value="@T("Admin.Common.Search")" />
        </div>
    </div>
    <div class="product-selectors" style="padding:5px;">
        <table width="100%">
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.CreatedOnFrom):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CreatedOnFrom)
                </td>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.CreatedOnTo):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CreatedOnTo)
                </td>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.ActivityLogTypeId):
                </td>
                <td class="adminData">
                    @Html.DropDownList("ActivityLogTypeId", Model.ActivityLogType)
                </td>
            </tr>
        </table>
    </div>
    <table class="adminContent" style="width:100%;">
        <tr>
            <td>
                <div id="activityLog-grid"></div>
                <script>
                    $(document).ready(function () {
                        $("#activityLog-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ListLogs", "ActivityLog"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("AcivityLogDelete", "ActivityLog"))",
                                        type: "POST",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            //do not implicitly specify all fields
                                            //we do it only for fields which implicitly require it
                                            //otherwise, they'll be formatted wrong way
                                            CreatedOn: {type: "date" }
                                        }
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "ActivityLogTypeName",
                                title: "@T("Admin.Configuration.ActivityLog.ActivityLog.Fields.ActivityLogType")",
                                width: 200
                            }, {
                                field: "CustomerId",
                                title: "@T("Admin.Configuration.ActivityLog.ActivityLog.Fields.Customer")",
                                width: 300,
                                template: '<a href="@Url.Content("~/CustomersAdmin/Edit/")#=CustomerId#">#:CustomerEmail#</a>'
                            }, {
                                field: "Comment",
                                title: "@T("Admin.Configuration.ActivityLog.ActivityLog.Fields.Comment")"
                            }, {
                                field: "CreatedOn",
                                title: "@T("Admin.System.Log.Fields.CreatedOn")",
                                width: 200,
                                //type: "date",
                                //format: "{0:G}",
                                template: "#=format_date(CreatedOn)#"
                            }, {
                                command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                                title: "@T("Admin.Common.Delete")",
                                width: 100
                            }]
                        });
                    });
                </script>
                <script type="text/javascript">

                    $(document).ready(function () {

                        $('#btnSearch').click(function () {
                            var grid = $('#activityLog-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            return false;
                        });
                    });

                    function additionalData() {
                        return {
                            CreatedOnFrom: $('#@Html.FieldIdFor(model => model.CreatedOnFrom)').val(),
                            CreatedOnTo: $('#@Html.FieldIdFor(model => model.CreatedOnTo)').val(),
                            ActivityLogTypeId: $('#ActivityLogTypeId').val()
                        };
                    }
                </script>
            </td>
        </tr>
    </table>
}
