﻿@model FooterModel
@using Energy.Core
@using Energy.Core.Infrastructure
@using Energy.Web.Models.Common;

<div class="footer">
    <div class="footer-menu-wrapper">
        <div class="container">
            <div class="column information col-md-4 col-sm-4 col-xs-12">
                <div class="footer_heading">
                    <h3>لینک های مرتبط</h3>
                </div>
                <ul>
                    <li><a href="http://news.moe.gov.ir/" title="">وزارت نیرو</a></li>
                    <li><a href="http://www.tavanir.org.ir/" title="">شرکت توانیر</a></li>
                    <li><a href="http://psp.moe.gov.ir/" title="">دفتر خصوصی سازی صنعت برق</a></li>
                    <li><a href="http://amirabadport.pmo.ir/fa/home" title="">منطقه ویژه اقتصادی بندر امیرآباد</a></li>
                </ul>
            </div>
            <div class="column information col-md-4 col-sm-4 col-xs-12">
                <div class="footer_heading">
                    <h3>اطلاعات تماس</h3>
                </div>
                <ul>
                    <li>تهران، انتهای بزرگراه جلال آل احمد، نرسیده به اشرفی اصفهانی، نبش کوچه امیر کبیر، پلاک 427، واحد 4</li>
                    <li>شماره تلفن : ۴۴۲۸۸۹۴۷</li>
                    <li>ایمیل : info@clean-Energy.ir</li>
                    <li>وبسایت : <a href="http://clean-energy.ir" title="">http://clean-energy.ir</a></li>
                </ul>
            </div>
            @*<div class="column customer-account col-md-4 col-sm-4 col-xs-12">
                    <div class="footer_heading">
                        <h3>@T("Footer.MyAccount")</h3>
                    </div>

                    <ul>
                        <li><a href="@Url.RouteUrl("CustomerInfo")" class="account">@T("Account.MyAccount")</a></li>
                        @if (!Model.HideOrders)
                        {
                            <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                        }
                        @if (!Model.HideAddresses)
                        {
                            <li><a href="@Url.RouteUrl("CustomerAddresses")" class="">@T("Account.CustomerAddresses")</a></li>
                        }
                        @if (Model.ShoppingCartEnabled)
                        {
                            <li><a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">@T("ShoppingCart")</a></li>
                        }
                        @if (Model.WishlistEnabled)
                        {
                            <li><a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">@T("Wishlist")</a></li>
                        }
                    </ul>
                </div>*@


        </div>

        @Html.Widget("footer")
    </div>

    @*<div class="container" style="padding:7px 0;">
            <div class="col-md-6">

                <div class="footer-disclaimer">
                    @T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)
                </div>
                <div class="footer-poweredby">
                    Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
                </div>
            </div>

            <div class="col-md-6 pull-right">
            </div>
        </div>*@
</div>