﻿@using Energy.Core.Domain
@using Energy.Core.Infrastructure
@using Energy.Core.Domain.Customers;
@{
    var isRtl = this.ShouldUseRtlTheme();
    var supportResponsive = EngineContext.Current.Resolve<StoreInformationSettings>().ResponsiveDesignSupported;
    var _permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var IsAdmin = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsAdmin();
}


<ul class="top-menu">
    @Html.Widget("header_menu_before")
    <li><a id="home-tab" href="@Url.RouteUrl("HomePage")"><i class="fa fa-home fa-lg"> </i></a></li>
    @if (_permissionService.Authorize(StandardPermissionProvider.ManageSplits))
    {
        <li><a id="split-tab" href="@Url.RouteUrl("SplitList")">مدیریت انشعاب ها</a></li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.ManageBills))
    {
        <li><a id="bill-tab" href="/Bill/Index">مدیریت صورتحساب ها</a></li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.ManageRequests))
    {
        <li><a id="request-tab" href="/RequestAdmin/ListRequests">درخواست ها</a></li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.ManageHandheld) ||
         _permissionService.Authorize(StandardPermissionProvider.ManageAccountant))
    {
        <li>
            <a href="#" id="file-tab">ورودی / خروجی فایل</a>
            <ul class="sublist">
                @if (_permissionService.Authorize(StandardPermissionProvider.ManageHandheld))
                {
                    <li><a href="/Handheld/Index">ارتباط با دستگاه هندهلد</a></li>
                }
                @if (_permissionService.Authorize(StandardPermissionProvider.ManageAccountant))
                {
                    <li><a href="/Accounting/Index">ارتباط با نرم افزار حسابداری</a></li>
                }
            </ul>
        </li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.ManageReports))
    {
        <li><a id="report-tab" href="/Report/Index">گزارشگیری</a></li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.ManageCustomers))
    {
        <li><a id="user-tab" href="/CustomersAdmin/Index">مدیریت کاربران</a></li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.ManageTariffs))
    {
        <li>
            <a id="tariff-tab" href="#">مدیریت تعرفه ها</a>
            <ul class="sublist">
                <li><a href="/Tariff/TariffList">فهرست تعرفه های اصلی</a></li>
                <li><a href="/Tariff/TariffAreaList">فهرست تعرفه های مناطق</a></li>
                <li><a href="/Tariff/TariffNormalList">فهرست تعرفه های پله ای</a></li>
            </ul>
        </li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.ManageMessages))
    {
        <li>
            <a id="content-tab" href="/SendMessage/Index">ارسال پیام</a>
        </li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.ManageAcl))
    {
        <li>
            <a id="setting-tab" href="#">تنظیمات</a>
            <ul class="sublist">
                <li>
                    <a href="/Security/Permissions">فهرست سطح دسترسی ها</a>
                </li>
                <li>
                    <a href="/Region/Index">فهرست منطقه های توزیع</a>
                </li>
                <li>
                    <a href="/ActivityLog/ListLogs">فهرست فعالیت کاربران</a>
                </li>
                <li>
                    <a href="/ActivityLog/ListTypes">نوع فعالیت</a>
                </li>
                <li>
                    <a href="/EmailAccount/list">تنظیمات سرویس ارسال ایمیل</a>
                </li>
                <li>
                    <a href="/QueuedEmail/List">ایمیل های در صف انتظار</a>
                </li>
            </ul>
        </li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.viewBills))
    {
        <li><a id="view-bills-tab" href="/BillsCustomer/Index">مشاهده صورتحساب ها</a></li>
    }
    @if (_permissionService.Authorize(StandardPermissionProvider.SendRequests) && !(IsAdmin))
    {
        <li><a id="request-tab" href="/Request/Create"> ارسال درخواست</a></li>
    }

    @Html.Widget("header_menu_after")
</ul>

<script type="text/javascript">
    $('li', '.top-menu').on('mouseenter', function () {
        $('a', $(this)).first().addClass('hover');
        if (!$(this).parent().hasClass('top-menu')) {
            var width = $(this).innerWidth();
            $('.sublist', $(this)).first().css('@(isRtl ? "right" : "left")', width + 15);
        }
        $('.sublist', $(this)).first().addClass('active');
        $('.top-menu-triangle', $(this)).addClass('active');
    });

    $('li', '.top-menu').on('mouseleave', function () {
        $('a', $(this)).first().removeClass('hover');
        $('.sublist', $(this)).first().removeClass('active');
        $('.top-menu-triangle', $(this)).removeClass('active');
    });

</script>

@if (supportResponsive)
{
    <div id="mob-menu-button">
        <a href="">
            <span class="icon"><span class="line"></span><span class="line"></span><span class="line"></span></span>
            @{
    var responsiveMenuTitle = T("responsiveMenuTitle");
            }
            <span>@responsiveMenuTitle</span>
        </a>
    </div>
    <ul class="mob-top-menu">
        @Html.Widget("mob_header_menu_before")

        @Html.Widget("mob_header_menu_after")
    </ul>
    <script type="text/javascript">
        $('a', $('#mob-menu-button')).toggle(function () {
            $('.mob-top-menu').addClass('show');
        },
            function () {
                $('.mob-top-menu').removeClass('show');
            }
        );

        $(function ($) {
            $('.mob-top-menu .expand').click(function () {
                var parent = $(this).parent();
                if (parent.hasClass('active')) {
                    $(".sublist:first", parent).hide(300);
                    parent.removeClass('active');
                } else {
                    $(".sublist:first", parent).show(300);
                    parent.addClass('active');
                }
            });
        });
    </script>
}
