﻿@model RegionModel
@{
    //page title
    ViewBag.Title = "ویرایش اطلاعات منطقه توزیع";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "region-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-configuration.png")" alt="" />
            ویرایش اطلاعات منطقه توزیع - @Model.Name @Html.ActionLink("(بازگشت به لیست)", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="country-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("country-delete")
