﻿
@font-face {
    font-family: 'B Mitra';
    src: url('../fonts/BMitra.eot');
    src: /*local('☺')*/ local('B Mitra'), url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'), url('../fonts/BMitra.woff') format('woff'), url('../fonts/BMitra.ttf') format('truetype') /*,
         url('BKoodakBold.svg#BKoodak') format('svg')*/;
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-device-width: 480px) {
    @font-face {
        font-family: 'B Mitra';
        src: url('../fonts/BMitra.eot');
        src: url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'), url('../fonts/BMitra.woff') format('woff'), url('../fonts/BMitra.ttf') format('truetype') /*,
         url('BKoodakBold.svg#BKoodak') format('svg')*/;
        font-weight: normal;
        font-style: normal;
    }
}

@media print {
    .noprint {
        display: none;
    }

    #printable {
        display: block;
    }
}

.panel-lefttitle {
    margin-top: 100px;
    margin-left: -20px;
    font-size: 14px;
    color: inherit;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(270deg);
    -o-transform-origin: left top;
    transform: rotate(270deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

body, div, form, li, h1, h2, h3, h4, h5, h6, input, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    font-family: "B Mitra", Arial, Helvetica, sans-serif /*!important*/;
}

body {
    font-size: 15.5px;
}

.auto-style2 {
    text-align: right;
    padding: 0;
    margin: 0;
}

.auto-style3 {
    text-align: center;
}

.auto-style5 {
    background-color: #F0F0F0;
}

.auto-style7 {
    text-align: center;
    background-color: #F0F0F0;
}

.auto-style10 {
    color: #000066;
}

.auto-style11 {
    text-align: center;
    background-color: #F0F0F0;
    width: 72px;
}

.auto-style12 {
    text-align: center;
    width: 72px;
}

.auto-style13 {
    color: #CC0000;
}

.auto-style14 {
    text-align: right;
}

.auto-style17 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.auto-style18 {
    text-align: center;
    width: 72px;
    height: 18px;
}

.auto-style19 {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 18px;
}

.auto-style20 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.auto-style21 {
}

.auto-style22 {
    text-align: center;
    color: #CC0000;
    font-weight: bold;
}

.auto-style23 {
    text-align: center;
    color: #CC0000;
}

.auto-style24 {
    text-align: right;
    padding: 0;
    margin: 0;
}

.auto-style25 {
    color: #000066;
}

.auto-style26 {
    text-align: center;
    width: 72px;
}

.auto-style27 {
    text-align: center;
}

.auto-style28 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.auto-style29 {
    text-align: center;
    color: #CC0000;
    font-weight: bold;
    background-color: #F0F0F0;
}

.auto-style2 {
    text-align: right;
    padding: 0;
    margin: 0;
}

.auto-style3 {
    text-align: center;
}

.auto-style5 {
    background-color: #F0F0F0;
}

.auto-style7 {
    text-align: center;
    background-color: #F0F0F0;
}

.auto-style10 {
    color: #000066;
}

.auto-style11 {
    text-align: center;
    background-color: #F0F0F0;
    width: 72px;
}

.auto-style12 {
    text-align: center;
    width: 72px;
}

.auto-style13 {
    color: #CC0000;
}

.auto-style14 {
    text-align: right;
}

.auto-style17 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.auto-style18 {
    text-align: center;
    width: 72px;
    height: 18px;
}

.auto-style19 {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 18px;
}

.auto-style20 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    .btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn:hover,
    .btn:focus {
        color: #333333;
        text-decoration: none;
    }

    .btn:active,
    .btn.active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .correctiveText {
    position:absolute;
    top:30%;
    left:30%;
    font-size:220px;
    color:red;
    transform: rotate(330deg);
    transform-origin: left top;
    letter-spacing:0.02em;
    opacity:0.6;
}