﻿@font-face {
    font-family: 'B Mitra';
    src: url('../fonts/BMitra.eot');
    src: /*local('☺')*/ local('B Mitra'), url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'), url('../fonts/BMitra.woff') format('woff'), url('../fonts/BMitra.ttf') format('truetype') /*,
         url('BKoodakBold.svg#BKoodak') format('svg')*/;
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-device-width: 480px) {
    @font-face {
        font-family: 'B Mitra';
        src: url('../fonts/BMitra.eot');
        src: url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'), url('../fonts/BMitra.woff') format('woff'), url('../fonts/BMitra.ttf') format('truetype') /*,
         url('BKoodakBold.svg#BKoodak') format('svg')*/;
        font-weight: normal;
        font-style: normal;
    }
}

@page {
    margin:1.5cm 2cm 1.5cm 2cm;
}

body {
    font-size:16px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "B Mitra";
    padding: 0;
    
}

.content {
    margin: 0 auto;
    width: 1000px;
}

fieldset {
    border: 1px solid #c0c0c0!important;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0;
}

img {
    margin-top: 12px;
}

.k-grid-header th.k-with-icon .k-link {
    margin: 0 .3em 0 0!important;
    padding: 0!important;
}

.k-header > .k-grid-filter, .k-header > .k-header-column-menu {
    float: left!important;
}

div.k-grid-header, div.k-grid-footer {
    padding :0!important;
}

.k-grid-header th.k-header:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-filter-row > th:first-child {
    border-left-width:1px!important;
}

.k-grid-content .k-footer-template {
    font-size:16px!important;
}

.k-grid td {
    border-width: 0 0 1px 1px!important;
}

