﻿@model AccountingModel
@{
    ViewBag.Title = "Accounting";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AppendScriptParts("~/Scripts/jquery.fileupload.js");
}
<div class="page">
    <div class="page-title">
        <h1 style="font-size:25px"></h1>
    </div>
    <div class="page-body">
        <div class="center-2 col-md-9 col-sm-12 col-xs-12 pull-right" style="padding-right:0px">
            <div class="product-selectors">
                <h1 style="font-size:21px">ارتباط با نرم افزار حسابداری</h1>
            </div>
            <div class="block block-account-navigation">
                <div class="title">
                    <strong>فهرست فعالیت ها</strong>
                </div>
                <table class="table" style="margin-bottom:0px">
                    <tbody>
                        <tr>
                            <td style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px; width: 50%; padding: 12px 20px ; border-right: 1px solid #dddddd;">
                                خواندن فایل واریزی ها و گردش مالی دوره جاری
                            </td>
                            <td style="width: 10%; border-left: 1px dashed #CCC; ">
                                <span style=""><button type="submit" class="k-button ep-button" id="update_debit" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 60px;">ایجاد</button></span>
                            </td>
                            <td id="row-1" style="font-weight: bold; color: darkred; font-size: 18px;padding:12px 20px" colspan="2"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px; padding: 12px 20px; border-right: 1px solid #dddddd;">
                                تهیه فایل خروجی از صورتحسابهای دوره، جهت ارسال به سیستم حسابداری
                            </td>
                            <td style="width: 10%; border-left: 1px dashed #CCC; ">
                                <span style=""><button type="submit" class="k-button ep-button" id="send-selected" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 60px;">ایجاد</button></span>
                            </td>
                            <td style="width:70%;font-weight: bold; color: darkred; font-size: 18px; padding: 12px 20px;">
                                <span id="row-2"></span>
                                <span id="loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                            </td>
                            <td>
                                <span style="">
                                    <a type="submit" style="display:none" class="k-button ep-button" id="Down_btn" href="">دانلود</a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px; width: 50%; padding: 12px 20px ; border-right: 1px solid #dddddd;">
                                انشعاب هایی که صورتحساب دوره پیش را واریز نکرده اند
                            </td>
                            <td style="width: 10%; border-left: 1px dashed #CCC; ">
                                <span style=""><button type="submit" class="k-button ep-button" id="with_debit" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 60px;">ایجاد</button></span>
                            </td>
                            <td id="debit_result" style="font-weight:bold;color:darkred;font-size:17px"></td>
                            <td style="width: 10%;">
                                <span style="">
                                    <a type="submit" style="display:none" class="k-button ep-button" id="Debit_Down_btn" href="@Url.RouteUrl("downloadDebit") ">دانلود</a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="input-title" class="block block-account-navigation" style="display:none">
                <div class="title" style="height:45px">
                    <strong>فایل واریزی ها و گردش مالی دوره جاری</strong>
                </div>
                <div id="input-grid"></div>
            </div>
            <div id="output-title" class="block block-account-navigation" style="display:none">
                <div class="title" style="height:45px">
                    <strong>تهیه فایل خروجی جهت ارسال به حسابداری</strong>
                </div>
                <div id="output-grid"></div>
            </div>
        </div>

        @*left side*@
        <div class="side-2 col-md-3 col-sm-12 col-xs-12">
            <div class="block block-account-navigation">
                <div class="title">
                    <strong>انتخاب فایل متنی</strong>
                </div>
                <form action="" enctype="multipart/form-data" id="myform">
                    <input id="fileupload" type="file" name="files" multiple="multiple" />
                </form>
                <p id="up_result" style="font-weight:bold;color:darkred;font-size:17px;padding-top:10px;padding-right:15px"></p>
                <p id="filename" style="font-weight: bold; color: darkred; font-size: 17px; padding-right: 15px"></p>
                <label id="fname" style="display:none"></label>
                <label id="clkbtn" style="display:none"></label>
                <span id="check" style="display:none">false</span>
                <span id="check_split_selected" style="display:none">false</span>
            </div>
            <div class="block block-account-navigation">
                <div class="title">
                    <strong>سال و دوره را انتخاب کنید</strong>
                </div>
                <div class="listbox" style="padding:15px 0px 10px 0px;text-align:center">
                    <span style="font-size:18px;">سال : </span> @Html.DropDownList("Year", Model.Years, new { @class = "", @id = "year", @style = "font-size:17px" })
                    <br />
                    <span style="font-size:18px;">دوره : </span>@Html.DropDownList("Term", Model.Terms, new { @class = "", @id = "term", @style = "font-size:17px" })
                    <br />
                    <span style=""><button type="submit" class="k-button ep-button" id="show_output" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 60px;">نمایش</button></span>
                    <br />
                    <span id="warning" style="font-weight: bold; color: darkred; font-size: 18px;padding:12px 20px;display:none">ابتدا سال و دوره مورد نظر را انتخاب کنید</span>
                    <br />
                    <span id="terms-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="dialog" title="محاسبه بدهی" style="padding-left:35px;padding-top:15px;">
    <p>در صورت تایید بدهی مشترکین برای دوره جاری محاسبه میشود</p>
</div>

<script type="text/javascript">
    $(function () {
        $("#file-tab").css('background', '#2f363a')
    })

    $(function () {
        $('#fileupload').fileupload({
            url: '/Accounting/AC_UploadFile',
            progressall: function (e, data) {
            },
            done: function (e, data) {
                $('p#up_result').html(data.result);
                $('p#filename').html('نام فایل : ' + data.files[0].name);
                $('label#fname').html(data.files[0].name);
                $('span#check').html('true');
                $('#output-title').hide();
                $('#output-grid').html('');
                loadInputGrid();
            }
        });
    })

    $.fn.scrollView = function () {
        return this.each(function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top
            }, 1000);
        });
    }

    $(function () {
        $("#year").change(function () {
            $('#warning').hide();
            var selectedItem = $(this).val();
            var ddlTerms = $("#term");
            var termsProgress = $("#terms-loading-progress");
            termsProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetTermsByYear"))",
                data: { "year": selectedItem },
                success: function (data) {
                    ddlTerms.html('');
                    $.each(data, function (id, option) {
                        ddlTerms.append($('<option></option>').val(option).html(option));
                    });
                    termsProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve terms.');
                    termsProgress.hide();
                }
            });
        });
    });

    function checkAll_input(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#input-grid').data('kendoGrid');
        $.each(grid.dataSource.view(), function () {
            if (this['selected'] != state)
                this.dirty = true;
            this['selected'] = state;
        });
        grid.refresh();
    }

    //$(document).on('change', ".check_box", function (e) {
    //    var grid = $("#input-grid").data("kendoGrid");
    //    var row = $(e.target).closest("tr");
    //    var item = grid.dataItem(row);
    //    item.set("selected", $(e.target).is(":checked") ? 1 : 0);
    //});

    function loadInputGrid() {
        if ($("label#fname").html() == "") {
            $('td#row-1').html("فایل گردش مالی اپلود نشده است");
            return;
        }
        else {
            $("#input-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("Show_DebitFile", "Accounting"))",
                            type: "POST",
                            dataType: "json",
                            data: function () {
                                return { filename: $("label#fname").html() }
                            }
                        }
                    },
                    schema: {
                        data: "Data"
                    },
                    error: function (e) {
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
                },
                pageable: {
                    refresh: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                {
                    title: "انتخاب",
                    field: "selected",
                    template: '<input type="checkbox" class="check_box" data-bind="checked: selected" #= selected ? "checked=checked" : "" # ></input>',
                    headerTemplate: "<input type='checkbox' id='chkSelectAll' onclick='checkAll_input(this)'/>",
                    width: 20
                },
                {
                    field: "rowNumber",
                    title: "ردیف",
                    width: 50
                },
                {
                    field: "splitId",
                    title: "انشعاب",
                    width: 50
                },
                {
                    field: "customerName",
                    title: "عنوان",
                    width: 150
                },
                {
                    field: "description",
                    title: "شرح",
                    width: 150
                },
                {
                    field: "lastBillPayable",
                    title: "مبلغ قبض",
                    width: 75,
                    format: "{0:n0}"
                },
                {
                    field: "Payment",
                    title: "مبلغ واریز",
                    width: 100,
                    format: "{0:n0}"
                },
                {
                    field: "PaymentDate",
                    title: "تاریخ",
                    width: 75
                },
                {
                    field: "Year",
                    title: "سال",
                    width: 10,
                    hidden: true,
                },
                {
                    field: "Term",
                    title: "دوره",
                    width: 10,
                    hidden: true,
                }],
            })
        };

        $('#input-title').show();


        var grid = $('#input-grid').data('kendoGrid');
        grid.pager.element.hide();
        $(".err-msg").css("display", "none");
        $('#input-title').scrollView();
    };

    $("#update_debit").click(function () {
        if ($('span#check').html() == 'true') {
            $('#row-1').html('');
            $("#dialog").dialog("open");
        }
        else
            $('#row-1').html('ابتدا فایل گردش مالی را اپلود کنید');
    });

    $('#dialog').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var griddata = $("#input-grid").data("kendoGrid");
                var loading = $("<i class='loading'></div>");
                var p = $('#dialog p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                $.ajax({
                    type: 'POST',
                    url: '/Accounting/Update_Debits',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ griditems: griddata.dataSource.view() }),
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#dialog p');
                        p.html('در صورت تایید بدهی مشترکین برای دوره جاری محاسبه میشود');
                        $this.dialog('close');
                        $('#row-1').html(result.msg);
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });

    $("#show_output").click(function () {
        if ($('#year').val() == '0') {
            $('#warning').show();
        }
        else {
            $('#warning').hide();
            $('#input-title').hide();
            $('#input-grid').html('');
            $('#check_split_selected').html('true');
            loadOutputGrid();
        }
    });

    function loadOutputGrid() {
        $("#output-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ShowSelectingView", "Accounting"))",
                        type: "POST",
                        dataType: "json",
                        data: function additionalData() {
                            return {
                                year: $("#year :selected").val(),
                                term: $("#term :selected").val(),
                            };
                        }
                    }
                },
                schema: {
                    data: "Data"
                },
                error: function (e) {
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            pageable: {
                refresh: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
            {
                title: "انتخاب",
                field: "selected",
                template: '<input type="checkbox" class="check_box" data-bind="checked: selected" #= selected ? "checked=checked" : "" # ></input>',
                headerTemplate: "<input type='checkbox' id='chkSelectAll' onclick='checkAll_split(this)'/>",
                width: 15
            },
            {
                field: "rowNumber",
                title: "شماره",
                width: 50
            },
            {
                field: "Id",
                title: "انشعاب",
                width: 50
            },
            {
                field: "Title",
                title: "عنوان",
                width: 200
            },
            {
                field: "CustomerName",
                title: "نام مشتری",
                width: 150
            }],
        });

        $('#output-title').show();

        var grid = $('#output-grid').data('kendoGrid');
        grid.pager.element.hide();
        $(".err-msg").css("display", "none");
        $('#output-title').scrollView();
    };

    $("#send-selected").click(function () {
        if ($('span#check_split_selected').html() == 'true' && $("#output-grid").html() != '') {
            $('#row-2').html('');
            var griddata = $("#output-grid").data("kendoGrid");
            var Progress = $("span#loading-progress");
            Progress.show();
            y = $("#year :selected").val();
            t = $("#term :selected").val();
            $.ajax({
                type: 'POST',
                url: '/Accounting/CreateOutputFile',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ griditems: griddata.dataSource.view(), year: y, term: t }),
                success: function (result) {
                    Progress.hide();
                    $('#row-2').html(result.msg);
                    $("a#Down_btn").attr("href", "/Accounting/Download/" + y + "/" + t);
                    $("#Down_btn").show();
                },
                error: function (objAjaxRequest, strError) {
                    var respText = objAjaxRequest.responseText;
                    console.log(respText);
                    Progress.hide();
                }
            });
        }
        else {
            $('#row-2').html('ابتدا سال و دوره را معین کنید. سپس از لیست انشعاب ها، انشعاب های مورد نظر خود را انتخاب نمایید .')
        }
    });

    function checkAll_split(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#output-grid').data('kendoGrid');
        $.each(grid.dataSource.view(), function () {
            if (this['selected'] != state)
                this.dirty = true;
            this['selected'] = state;
        });
        grid.refresh();
    }

    $(document).on('change', ".check_box", function (e) {
        var grid = $("#output-grid").data("kendoGrid");
        var row = $(e.target).closest("tr");
        var item = grid.dataItem(row);
        item.set("selected", $(e.target).is(":checked") ? 1 : 0);
    });

    $("#with_debit").click(function () {
        var griddata = $("#input-grid").data("kendoGrid");
        var loading = $("<i class='loading'></div>");
        var p = $('#dialog p');
        p.html("");
        p.append(loading);
        working = true;
        var $this = $(this);
        $.ajax({
            type: 'POST',
            url: '/Accounting/With_Debits',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ griditems: griddata.dataSource.view() }),
            success: function (result) {
                working = false;
                loading.remove();
                var p = $('#dialog p');
                p.html('test');
                //$this.dialog('close');
                $("a#Debit_Down_btn").attr("href", "/handheld/Debit_DownloadFile");
                $("#Debit_Down_btn").show();
                $('#debit_result').html(result.msg);
            },
            error: function (objAjaxRequest, strError) {
                var respText = objAjaxRequest.responseText;
                console.log(respText);
                //working = false;
                //loading.remove();
                //$('#create_result').html(respText);
                $(self).dialog("close");
            }
        });
    });

</script>
