﻿@model AccountActivationRequestModel
@using Energy.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivationRequest").Text);
}
<div class="page account-activation-request-page">
    <div class="page-title">
        <h1>@T("Account.AccountActivationRequest")</h1>
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @using (Html.BeginForm())
        {
            <p class="tooltip">@T("Account.AccountActivationRequest.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.Email, new { }, ":")
                        @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
            </div>
            if (Model.DisplayCaptcha)
            {
            <div class="captcha-box">
                @Html.Raw(Html.GenerateCaptcha())
            </div>
            }
            <div class="buttons">
                <input type="submit" name="send-email" class="button-1 account-activation-request-button" value="@T("Account.AccountActivationRequest.RecoverButton")" />
            </div>
        }
    </div>
</div>
