﻿@model Energy.Web.Models.Bills.BillModel

@{
    Layout = null;
}
@using Helper.Extensions
@using Web.Tools
@using System.Globalization
@using Energy.Web.Tools
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>نمایش قبض</title>

    <link href="~/Content/css/bill.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body style="padding-top: 10px">
    <div id="printable" style="width:920px; margin-left:auto;margin-right:auto">
        <div style="width: 890px; margin-right: auto; margin-left: auto; border: solid 1px #999999; border-radius: 7px; text-align: right;">

            <table cellpadding="0" cellspacing="0" class="auto-style30" style="width:100%">
                <tbody>
                    <tr>
                        <td colspan="0" rowspan="1" style="">
                            <h4 style="margin-top:140px" id="printable" class="panel-lefttitle">کد اقتصادی : ۴۱۱۳۹۵۳۴۶۸۶۴</h4>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td width="55px">&nbsp;</td>
                        <td width="55px">&nbsp;</td>
                        <td width="55px">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="auto-style14" colspan="4" rowspan="3">
                            <img alt="شرکت انرژی پاک" src="~/Content/Images/logo.png" style="height: 34px; width: 146px;padding-right:20px;padding-top:5px">
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr style="font-weight:bold">
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">مصرف</td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999;width:110px; border-right-color: #999999">عنوان</td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">دوره/سال</td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">کم باری</td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">اوج بار</td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">میان باری</td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">تاریخ</td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">شرح مصارف</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style32" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="allCost" class="auto-style13">@Model.AllCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style13" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">بهای انرژی</td>
                        <td rowspan="2" class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="yytt" class="auto-style10">@Model.Year.ToString()  /  @Model.Term.ToString()</span>
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="minRead" class="auto-style10">@Model.MinRead.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="maxRead" class="auto-style10">@Model.MaxRead.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="midRead" class="auto-style10">@Model.MidRead.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="dateRead" style="color: #000066">@Model.DateRead.PersianDate("/")</span>
                        </td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">قرائت کنونی</td>
                        <td class="auto-style14" colspan="3" style="border-top-style: solid; border-top-color: #999999; border-top-width: 1px;">
                            <span id="splitTitle" class="auto-style10">@Model.Split.Title</span>
                        </td>
                        <td class="auto-style14" style="padding-right:10px; width: 75px; border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">: مشترک محترم</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style31" rowspan="2" style="text-align: center;border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="fineCost" style="text-align:center">@Model.FineCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" rowspan="2" style="padding-right:5px; border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">جریمه مصرف اوج بار</td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="minPre">@Model.MinReadPre.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="maxPre">@Model.MaxReadPre.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="midPre">@Model.MidReadPre.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="dateReadPre" style="color: #000066">@Model.DateReadPre.PersianDate("/")</span>
                        </td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">قرائت پیشین</td>
                        <td class="auto-style14" colspan="3">
                            <span id="address" class="auto-style25">@Model.Split.Address</span>
                        </td>
                        <td class="auto-style14" style="padding-right: 10px; width: 100px">: نشانی محل مصرف</td>
                    </tr>
                    <tr style="text-align:center">
                        <td style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999;" class="auto-style31">&nbsp;</td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="minUsed">@Model.MinUsed.ToString("#.###")</span>
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="maxUsed">@Model.MaxUsed.ToString("#.###")</span>
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="midUsed">@Model.MidUsed.ToString("#.###")</span>
                        </td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">kwh</td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">مصرف</td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="plate" class="auto-style10">@*@Model.Split.Plate*@</span>
                        </td>
                        <td class="auto-style14" style="width: 75px">@*:پلاک*@</td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="postal" class="auto-style10">@Model.Split.Postal</span>
                        </td>
                        <td class="auto-style14" style="width: 75px;padding-right:10px">:کد پستی </td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">
                            <span id="discountCost" style="text-align:center">@Model.DiscountCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">تخفیف مصرف کم باری</td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">&nbsp;</td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">&nbsp;</td>
                        <td class="auto-style31" colspan="2" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <span id="allUsed" class="auto-style10">@Model.AllUsed.ToString("#.###")</span>
                        </td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">kwh</td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">مصرف کل دوره</td>
                        <td class="auto-style14" style="width: 75px; border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">
                            <span id="fileNo" class="auto-style10">@Model.Split.FileNo</span>
                        </td>
                        <td class="auto-style14" style="width: 75px; border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">:پرونده</td>
                        <td class="auto-style14" style="width: 75px; border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">
                            <span id="splitID" class="auto-style10">@Model.Split.Id</span>
                        </td>
                        <td class="auto-style14" style="padding-right:10px; width: 75px; border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">: شناسه انشعاب</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style31" style="border-top:1px solid #999999;border-right-style: solid; border-right-width: 1px; border-right-color: #999999">
                            <span id="freelnceCost">@Model.FreelanceCost.ToString("#,##0")</span>
                            @if (Model.Split.NetworkCost)
                            {
                                <br />
                                <span id="networkCost">@Model.NetworkCost.ToString("#,##0")</span>
                            }
                            @{
                                var subscription = (long)((Model.AllDays / 30) * 11000);
                            }
                            <br />
                            @subscription.ToString("#,##0")
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999"; border-right-style: solid; border-right-width: 1px; border-right-color: #999999">
                            انشعاب آزاد
                            @if (Model.Split.NetworkCost)
                            {
                                <br /><span>هزینه نگهداری شبکه</span>
                            }
                            <br />آبونمان
                        </td>
                        <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999"; border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            <font>
                                <span id="allDays" style="color: #000066">@Model.AllDays.ToString()</span>
                            </font>
                        </td>
                        <td style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999;" class="auto-style31">تعدادروز</td>
                        <td class="auto-style31" colspan="2" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                            @{
                                var allUsedAvg = (Model.AllUsed / Model.AllDays) * 30;
                            }
                            <span id="allUsedAvg" class="auto-style10">@allUsedAvg.ToString("#.###")</span>
                        </td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">30 روز </td>
                        <td class="auto-style7" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">متوسط مصرف</td>
                        <td class="auto-style14" style="width: 75px">&nbsp;</td>
                        <td class="auto-style14" style="width: 75px">:تعداد خانوار</td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="dispass" class="auto-style25">@Model.Split.DisPass</span>
                        </td>
                        <td class="auto-style14" style="width: 75px;padding-right:10px">:رمز رایانه</td>
                    </tr>
                    <tr style="text-align:center">
                        @if (Model.Split.CTariffId != (int)Energy.Core.Domain.Constant.CTariff.Home)
                        {
                            <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">
                                <span id="warmCost" style="color: #000066">
                                    @Model.WarmCost.ToString("#,##0")
                                </span>
                            </td>
                            <td class="auto-style31">بهای فصل</td>
                        }
                        else
                        {
                            <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999">
                                <span id="warmCost" style="color: #000066"></span>
                            </td>
                            <td class="auto-style31" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999"></td>
                        }
                        <td style="border: 1px solid #999999; background-color: #F0F0F0" class="auto-style31">فرمول محاسبه</td>
                        <td colspan="5" rowspan="8" style="border: 1px solid #999999; width: auto; vertical-align: top">

                            <div>
                                @if (Model.TariffID.IsIn(10, 12, 14, 16, 18, 19, 22, 26))
                                {
                                    <table cellspacing="0" cellpadding="4" rules="all" border="1" id="GridView1" style="color:Black;height:100%;width:100%;border-collapse:collapse;">
                                        <tbody>
                                            <tr align="center" style="background-color:#F0F0F0;font-weight:bold;">
                                                <th scope="col">مبلغ - ریال</th>
                                                <th scope="col">مصرف</th>
                                                <th scope="col">نرخ - ریال </th>
                                                <th scope="col">زمان مصرف</th>
                                            </tr>
                                            <tr style="background-color:#F7F7DE;">
                                                <td align="center">@Model.MidCost.ToString("#.###")</td>
                                                <td align="center">@Model.MidUsed</td>
                                                <td align="center">@Model.MidRate</td>
                                                <td align="center">میان باری</td>
                                            </tr>
                                            <tr style="background-color:white;">
                                                <td align="center">@Model.MaxCost.ToString("#.###")</td>
                                                <td align="center">@Model.MaxUsed</td>
                                                <td align="center">@Model.MaxRate</td>
                                                <td align="center">اوج باری</td>
                                            </tr>
                                            <tr style="background-color:#F7F7DE;">
                                                <td align="center">@Model.MinCost.ToString("#.###")</td>
                                                <td align="center">@Model.MinUsed</td>
                                                <td align="center">@Model.MinRate</td>
                                                <td align="center">کم باری</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                else if (Model.TariffID.IsIn(1, 2, 3, 4, 5, 7, 8))
                                {
                                    <table cellspacing="0" cellpadding="4" rules="all" border="1" id="GridView1" style="color:Black;height:100%;width:100%;border-collapse:collapse;">
                                        <tbody>
                                            <tr align="center" style="background-color:#F0F0F0;font-weight:bold;">
                                                <th scope="col">بهای 30 روزه</th>
                                                <th scope="col">مصرف</th>
                                                <th scope="col">نرخ </th>
                                                <th scope="col">پله های مصرف 30 روزه</th>
                                            </tr>

                                            @for (int i = 0; i < Model.billNormal.Count; i++)
                                            {
                                                if (i % 2 == 0)
                                                {
                                                    <tr style="background-color:#F7F7DE;">
                                                        <td align="center">@Model.billNormal[i].UsedCost.ToString("#.###")</td>
                                                        <td align="center">@Model.billNormal[i].Used.ToString("#.###")</td>
                                                        <td align="center">@Model.billNormal[i].Cost</td>
                                                        <td align="center">@Model.billNormal[i].Description</td>
                                                    </tr>

                                                }
                                                else
                                                {
                                                    <tr style="background-color:white;">
                                                        <td align="center">@Model.billNormal[i].UsedCost.ToString("#.###")</td>
                                                        <td align="center">@Model.billNormal[i].Used.ToString("#.###")</td>
                                                        <td align="center">@Model.billNormal[i].Cost</td>
                                                        <td align="center">@Model.billNormal[i].Description</td>
                                                    </tr>

                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>

                        </td>
                        <td class="auto-style14" colspan="2">
                            <span id="tariffArea" class="auto-style25">@Model.Title</span>
                        </td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="tariff" class="auto-style25">@Calculate.GetTariff(Model.Split.CTariffId.ToString()) </span>
                        </td>
                        <td class="auto-style14" style="width: 75px;padding-right:10px">: تعرفه مصرف</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style32" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999; border-top-style: solid; border-top-width: 1px; border-top-color: #999999; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;">
                            <span id="total" class="auto-style13">@Model.Total.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style32" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999; border-top-style: solid; border-top-width: 1px; border-top-color: #999999; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;">بهای برق دوره</td>
                        <td class="auto-style31" rowspan="7" style="border-bottom: 1px solid #999999; color: #999999;">مبلغ ماهانه<br> *<br> تعداد روز<br> /<br> 30</td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="tagdate" class="auto-style10">@Model.Split.PowerTagDate.PersianDateN("/")</span>
                        </td>
                        <td class="auto-style14" style="width: 75px">: انقضا پروانه</td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="activity" class="auto-style10">@*@Model.Split.Activity*@</span>
                        </td>
                        <td class="auto-style14" style="width: 75px;padding-right:10px">: نوع فعالیت</td>
                    </tr>
                    <tr>
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">&nbsp;</td>
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">&nbsp;</td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="factor" style="color: #000066">@Model.Split.Factor.ToString()</span>
                            &nbsp; / &nbsp;
                            <span id="digit" style="color: #000066">@((int)Model.Split.Timer)</span>
                        </td>
                        <td class="auto-style14" style="width: 75px">ارقام / ضریب</td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="serial" class="auto-style10">@Model.Split.SerialNo</span>
                        </td>
                        <td class="auto-style14" style="width: 75px;padding-right:10px">شماره بدنه کنتور </td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">
                            <span id="discount">@Model.Discount</span>
                        </td>
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">تخفیف</td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="installDate" class="auto-style25">@Model.Split.InstallDate.PersianDateN("/")</span>
                        </td>
                        <td class="auto-style14" style="width: 75px">: تاریخ نصب</td>
                        <td class="auto-style14" style="width: 75px">
                            <span id="amp" class="auto-style10">@Model.Split.Amp.ToString()</span>
                            &nbsp;/
                            <span id="phase" class="auto-style10">@Model.Split.Phase.ToString()</span>
                        </td>
                        <td class="auto-style14" style="width: 75px;padding-right:10px">فاز / آمپر</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">
                            <span id="tax">@Model.Tax.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">مالیات</td>
                        <td class="auto-style14" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">&nbsp;</td>
                        <td class="auto-style14" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">&nbsp;</td>
                        <td class="auto-style14" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">
                            <span id="today" class="auto-style1">@Model.issueDate.AsPersianDate("/")</span>
                        </td>
                        <td class="auto-style14" style="padding-right:10px; border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">تاریخ صدور </td>
                    </tr>

                    <tr style="text-align:center">
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">
                            <span id="toll">@Model.Toll.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">عوارض</td>
                        <td class="auto-style14" colspan="3" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999">
                            <font size="2">
                                <span id="defaultDescription" class="auto-style10">تهران، انتهای بزرگراه جلال آل احمد، نرسیده به اشرفی اصفهانی، نبش کوچه امیر کبیر، پلاک 427، واحد 4</span>
                            </font>
                        </td>
                        <td class="auto-style14" style="padding-right:10px; border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">: آدرس</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">
                            <span id="debit">@Model.Debit.ToString("#,##0")<br />@Model.LatePenalty.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">بدهی قبلی<br />جریمه دیرکرد</td>
                        <td class="auto-style14" colspan="3">
                            <font size="2">
                                <span id="response" class="auto-style10">@*@Model.Split.DistributerResponse*@</span>
                            </font>
                        </td>
                        <td class="auto-style14" style="width: 75px;padding-right:10px">: واحد صورتحساب</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">
                            <span id="rounded" class="auto-style21">@Model.Round.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999">کسرهزارریال</td>
                        <td class="auto-style14" colspan="3">
                            <font size="2">
                                <span id="disArea" class="auto-style10">@Model.Split.DistributionArea_Id</span>
                            </font>
                        </td>
                        <td class="auto-style14" style="width: 75px;padding-right:10px">: منطقه برق</td>
                    </tr>
                    <tr style="font-weight:bold">
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;">&nbsp;</td>
                        <td class="auto-style31" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;">&nbsp;</td>
                        <td class="auto-style7" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">مبلغ</td>
                        <td class="auto-style7" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;" colspan="2" width="150px">شرح مبلغ</td>
                        <td class="auto-style7" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">مصرف</td>
                        <td class="auto-style7" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">نرخ</td>
                        <td class="auto-style7" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">شرح مصارف</td>
                        <td class="auto-style14" colspan="3" style="font-weight:normal">
                            <font size="2">
                                <span id="disUnit" class="auto-style10">011-34623537</span>
                            </font>
                        </td>
                        <td class="auto-style14" style="width: 75px; font-weight: normal;padding-right:10px">: واحد حوادث</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style33" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="payable" class="auto-style13">@Model.Payable.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style13" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">قابل پرداخت</td>
                        <td class="auto-style31" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="fineCost0">@Model.FineCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" style="font-size:14px; border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;" colspan="2">جریمه مصرف اوج بار</td>
                        <td class="auto-style31" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="normalMaxUsed">@Model.NormalMaxUsed.ToString("#.###")</span>
                        </td>
                        <td class="auto-style31" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            @{
                                var maxRate = (Model.FineCost / Model.NormalMaxUsed);
                            }
                            <span id="maxRate">@maxRate.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">میزان مصرف در اوج بار</td>
                        <td class="auto-style14" style="border: 1px solid #999999; text-align: center; font-size: 11px; background-color: #F0F0F0;font-weight:bold" colspan="2">شناسه واریز</td>
                        <td class="auto-style14" style="border: 1px solid #999999; text-align: center; font-size: 11px; background-color: #F0F0F0;font-weight: bold" colspan="2">شناسه انشعاب</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="auto-style31" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="expdate" class="auto-style13">@Model.ExpDate.PersianDateN("/")</span>
                        </td>
                        <td class="auto-style13" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">مهلت پرداخت</td>
                        <td class="auto-style31" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="discountCost0">@Model.DiscountCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" style="font-size:14px; border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;" colspan="2">تخفیف مصرف غیر اوج بار</td>
                        <td class="auto-style31" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="normalMindUsed">@Model.NormalMindUsed.ToString("#.###")</span>
                        </td>
                        <td class="auto-style31" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            @{
                                var mindRate = (Model.DiscountCost / Model.NormalMindUsed);
                            }
                            <span id="mindRate">@mindRate.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style31" style="border-bottom-style: solid; border-right-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">میزان مصرف در غیر اوج بار</td>
                        <td class="auto-style14" style="text-align: center; font-size: 14px; border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; color: #CC0000;" colspan="2">
                            <span id="paymentID" class="auto-style21">@Model.PaymentID</span>
                            <div id="paymentIdWD" class="auto-style21" style="display:none">@Model.PaymentIdWD</div>
                        </td>
                        <td class="auto-style14" style="text-align: center; font-size: 14px; border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; color: #CC0000;" colspan="2">
                            <span id="ID" class="auto-style21">@Model.SplitID</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 15px 5px 15px; margin: 0px; vertical-align: top; text-align: right; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;" colspan="8" rowspan="4">

                            <span class="auto-style21">
                                : مشترک گرامی
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span id="description" class="auto-style21" style="color: #CC0000; ">@Model.Description</span>
                                <br>
                            </span>

                        </td>
                        <td class="auto-style14" style="width: 75px">&nbsp;</td>
                        <td class="auto-style14" style="width: 75px">&nbsp;</td>
                        <td class="auto-style14" style="width: 75px">&nbsp;</td>
                        <td class="auto-style14" style="width: 75px">&nbsp;</td>
                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style14" style="text-align: center;" colspan="2">4299775653</td>
                        <td class="auto-style14" style="text-align: center;" colspan="2">شماره حساب - بانک ملت</td>
                    </tr>
                    <tr>
                        <td class="auto-style14" colspan="2" style="text-align: right; font-family: Tahoma; font-size: 12px"></td>
                        <td class="auto-style14" colspan="2" style="text-align: center; font-family: Tahoma; font-size: 12px"></td>
                    </tr>
                    <tr>
                        <td class="auto-style14" colspan="2" style="color: blue; text-align: center; font-size: 9pt;">ttp://Clean-energy.ir</td>
                        <td class="auto-style14" style="width: 75px">&nbsp;</td>
                        <td class="auto-style14" style="width: 75px">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 890px; margin-right: auto; margin-left: auto; font-size: 10px; text-align: right; color: #FFFFFF; height: 19px; ">
            <span id="lblOver" style="color:Red;font-size:16px;font-weight: 700; color: #CC0000">.مشترک گرامی، در  صورت عدم پرداخت صورتحساب تا مهلت مقرر، نسبت به قطع برق انشعاب، اقدام خواهد گردید</span>
        </div>
        <div id="allCost_" style="display: none">@Model.AllCost</div>
        <div id="payable_" style="display: none">@Model.Payable</div>
        <div id="debit_" style="display: none">@Model.Debit</div>
    </div>
    @if (Model.Type == "corrective")
    {
        <div class="correctiveText">اصلاحي</div>
    }
    <div class="noprint" style="text-align: center; font-size: 15px;padding-top:15px">

        <a style="padding-right:30px" href="http://epay.bankmellat.ir/epayment/Payment/DoPayment.aspx?ItemId=57">
            <input style="font-weight: bold;font-size:14px" class="btn" id="Button1" type="button" value="پرداخت" />
        </a>

        <a style="padding-right:30px" href="#" onclick="javascript: window.print();">
            <input style="font-weight: bold; font-size: 14px" class="btn" id="Button2" type="button" value="چاپ" />
        </a>
        <input style="font-weight: bold; font-size: 14px" class="btn" id="debitless" type="button" value="نمایش بدون بدهی " />
    </div>
</body>
</html>

<script>
    jQuery(document).ready(function () {
        var val1 = parseInt($("#allCost_").html(), 10);
        var val2 = parseInt($("#debit_").html(), 10);
        if (val1 < val2) {
            $("#lblOver").show();
        } else {
            $("#lblOver").hide();
        }

        var payable = parseInt($("#payable").html(), 10);

        if (payable < 0) {
            $("#paymentID").html('----');
            $("#payable").html(0);
            $("#rounded").html(0);
        }
    });

    $(function () {
        $('#debitless').click(function () {
            var val1 = parseInt($("#payable_").html(), 10);
            var val2 = parseInt($("#debit_").html(), 10);

            var val3 = val1 - val2;
            $("#payable").html(val3.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            $("#debit").html("0");

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetDebitlessPaymentId", "Bill"))",
                data: { "splitId": $("span#ID").html(), "payable": val3 },
                success: function (data) {
                    $("#paymentID").html(data)
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve payment ID');
                }
            });
        })
    })
</script>