﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}
<div class="container" style="padding-top:20px;">
	<div class="row">
		<div class="center-2 col-md-9 col-sm-12 col-xs-12 pull-right">
			@Html.Widget("main_column_before")
			@RenderBody()
			@Html.Widget("main_column_after")
		</div>
		<div class="side-2 col-md-3 col-sm-12 col-xs-12">
			<div class="row">
				@if (IsSectionDefined("left"))
				{
					@RenderSection("left")
				}
				else
				{
					<div class="col-md-12 col-sm-6 col-xs-12" >
					</div>
					<div class="col-md-12 col-sm-6 col-xs-12" >
					</div>
				}
			</div>
		</div>
	</div>
</div>
