﻿@{
    //resources
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");
}
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>@Html.ProTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.ProMetaDescription())" />
    <meta name="keywords" content="@(Html.ProMetaKeywords())" />
    @Html.ProHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.ProCssFiles(this.Url, ResourceLocation.Head)
    @Html.ProScripts(this.Url, ResourceLocation.Head)
    @Html.ProCanonicalUrls()
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @Html.Widget("head_html_tag")
</head>
<body class="popup-window">
    @Html.Widget("body_start_html_tag_after")
    @RenderBody()
    @Html.Widget("body_end_html_tag_before")
    @Html.ProCssFiles(this.Url, ResourceLocation.Foot)
    @Html.ProScripts(this.Url, ResourceLocation.Foot)
</body>
</html>
