﻿@model SplitModel
@using System.Globalization;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

}
@if (Model.Id > 0)
{
    using (Html.BeginForm())
    {
        <div class="t-list">
            <strong id="page-title" style="font-size:18px;">مشترک فعلی : @Model.CustomerName</strong>
        </div>
        <hr />
        <div class="section-header">
            <div class="title" style="font-size:21px">
                <img src="@Url.Content("~/Content/images/ico-customers.png")" alt="" />
                لیست مشترکین
            </div>
            <div class="options">
                <input type="button" id="search-customers" class="k-button" value="@T(" admin.common.search")" />
                <input type="button" id="attach-customer" class="k-button" value="ضمیمه کردن نام مشترک به انشعاب" />
            </div>
        </div>
        <div class="fieldset customer-list product-selectors" style="margin-top:3px">
            <table style="width:100%">
                <tr>
                    <td class="adminTitle" style="width:20%">
                        @Html.LabelFor(model => model.CustomerList.SearchEmail):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.CustomerList.SearchEmail)
                    </td>
                    <td class="adminTitle">
                        @Html.LabelFor(model => model.CustomerList.SearchPhone):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.CustomerList.SearchPhone)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(model => model.CustomerList.SearchFirstName):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.CustomerList.SearchFirstName)
                    </td>
                    <td class="adminTitle">
                        @Html.LabelFor(model => model.CustomerList.SearchZipPostalCode):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.CustomerList.SearchZipPostalCode)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(model => model.CustomerList.SearchLastName):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.CustomerList.SearchLastName)
                    </td>
                </tr>
            </table>
        </div>
        <table class="adminContent">
            <tr>
                <td>
                    <div id="customers-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#customers-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("CustomerList", "CustomersAdmin"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                selectable: "row",
                                dataBound: onDataBound,
                                columns: [{
                                    field: "Id",
                                    title: "@T("Admin.Common.Fields.Id")",
                                    width: 50
                                }, {
                                    field: "Email",
                                    title: "@T("Admin.Customers.Customers.Fields.Email")",
                                    width: 200
                                },
                                    {
                                        field: "FullName",
                                        title: "@T("Admin.Customers.Customers.Fields.FullName")",
                                        width: 200
                                    }, {
                                        field: "CustomerRoleNames",
                                        title: "@T("Admin.Customers.Customers.Fields.CustomerRoles")",
                                        width: 200
                                    },
                                {
                                    field: "Active",
                                    title: "@T("Admin.Customers.Customers.Fields.Active")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<img src="@Url.Content("~/Content/images/")active-#=Active#.gif" />'
                                }, {
                                    field: "CreatedOn",
                                    title: "@T("Admin.Customers.Customers.Fields.CreatedOn")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}",
                                    template: "#=format_date(CreatedOn, 'jYYYY/jMM/jDD')#"
                                }]
                            });
                        });
                    </script>

                    <script type="text/javascript">

                        $('#test').click(function () {
                            // Notice that the Name() of the grid is used to get its client-side instance

                        });

                        var selectedIds = [];

                        $(document).ready(function () {

                            $('#attach-customer').click(function () {
                                var grid = $("#customers-grid").data("kendoGrid");
                                var selectedItem = grid.dataItem(grid.select());
                                if(selectedItem == null)
                                {
                                    $("#window").html("لطفا ابتدا مشترک مورد نظر را از لیست زیر انتخاب کنید");
                                    $("#window").kendoWindow({
                                        actions: ["Close"],
                                        draggable: false,
                                        height: "100px",
                                        modal: true,
                                        pinned: false,
                                        resizable: false,
                                        title: "",
                                        width: "500px"
                                    }).data("kendoWindow").center().open();
                                    return;
                                }
                                else
                                {
                                    $.ajax({
                                        dataType: "json",
                                        async:false,
                                        type:'post',
                                        url: "@(Url.Action("AttachCustomer", "Split"))",
                                        data: { "customerId": selectedItem.Id, "splitId": '@Model.Id' },
                                        success: function(data) {
                                            $("#window").html(data.msg);
                                            $("#window").kendoWindow({
                                                actions: ["Close"],
                                                draggable: false,
                                                height: "100px",
                                                modal: true,
                                                pinned: false,
                                                resizable: false,
                                                title: "",
                                                width: "500px"
                                            }).data("kendoWindow").center().open();
                                            $("#page-title").html(data.msg);
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            alert('Failed to retrieve states.');
                                        }
                                    });
                                }
                            });

                            //search button
                            $('#search-customers').click(function () {
                                var grid = $('#customers-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                //clear selected checkboxes
                                $('.checkboxGroups').attr('checked', false).change();
                                selectedIds = [];
                                return false;
                            });

                            $("#@Html.FieldIdFor(model => model.CustomerList.SearchEmail)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-customers").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.CustomerList.SearchUsername)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-customers").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.CustomerList.SearchFirstName)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-customers").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.CustomerList.SearchLastName)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-customers").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.CustomerList.SearchCompany)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-customers").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.CustomerList.SearchPhone)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-customers").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.CustomerList.SearchZipPostalCode)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-customers").click();
                                    return false;
                                }
                            });

                            $('#mastercheckbox').click(function () {
                                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                            });

                            //wire up checkboxes.
                            $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                var $check = $(this);
                                if ($check.is(":checked") == true) {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked == -1) {
                                        //add id to selectedIds.
                                        selectedIds.push($check.val());
                                    }
                                }
                                else {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked > -1) {
                                        //remove id from selectedIds.
                                        selectedIds = $.grep(selectedIds, function (item, index) {
                                            return item != $check.val();
                                        });
                                    }
                                }
                                updateMasterCheckbox();
                            });
                        });

                        function onDataBound(e) {

                            $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                var currentId = $(this).val();
                                var checked = jQuery.inArray(currentId, selectedIds);
                                //set checked based on if current checkbox's value is in selectedIds.
                                $(this).attr('checked', checked > -1);
                            });

                            updateMasterCheckbox();
                        }

                        function updateMasterCheckbox() {
                            var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                            var numChkBoxesChecked = $('#customers-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }

                        function additionalData() {
                            var customerRoleIds = ["7"];

                            return {
                                SearchCustomerRoleIds: customerRoleIds.join(","),
                                SearchEmail: $('#@Html.FieldIdFor(model => model.CustomerList.SearchEmail)').val(),
                                SearchUsername: $('#@Html.FieldIdFor(model => model.CustomerList.SearchUsername)').val(),
                                SearchFirstName: $('#@Html.FieldIdFor(model => model.CustomerList.SearchFirstName)').val(),
                                SearchLastName: $('#@Html.FieldIdFor(model => model.CustomerList.SearchLastName)').val(),
                                SearchDayOfBirth: $('#@Html.FieldIdFor(model => model.CustomerList.SearchDayOfBirth)').val(),
                                SearchMonthOfBirth: $('#@Html.FieldIdFor(model => model.CustomerList.SearchMonthOfBirth)').val(),
                                SearchCompany: $('#@Html.FieldIdFor(model => model.CustomerList.SearchCompany)').val(),
                                SearchPhone: $('#@Html.FieldIdFor(model => model.CustomerList.SearchPhone)').val(),
                                SearchZipPostalCode: $('#@Html.FieldIdFor(model => model.CustomerList.SearchZipPostalCode)').val()
                            };
                        }
                    </script>
                </td>
            </tr>
        </table>
    }
}
else
{
    <div class="fieldset">
        <div class="title">
            <strong>لطفا ابتدا مشخصات انشعاب را وارد کرده و ذخیره کنید</strong>
        </div>
        <hr />
    </div>
}

<div id="window" style="text-align:center;font-size:20px;">
</div>