﻿@model SplitModel
@using System.Globalization;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
}
@if (Model.Id > 0)
{
    using (Html.BeginForm())
    {
        <div class="section-header">
            <div class="title">
                <span class="page-title">تعرفه های فعلی</span>
            </div>
            <div class="options">
                <input type="button" id="remove-tariff" class="k-button" value="حذف کردن تعرفه ها" />
            </div>
        </div>
        <div id="current-tariffs-grid" style="width:100%;"></div>
        <script>
            $(document).ready(function () {
                $("#current-tariffs-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("CurrentTariffList", "Split"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalDataCurrentTariff
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id", // define the model of the data source. Required for validation and property types.
                                fields: {
                                    "Tariff.Title": { type: "string", editable: false }, //تعيين نوع فيلد براي جستجوي پويا مهم است
                                    "Title": { type: "string", editable: false },
                                    "Tariff.Description": { type: "string", editable: false },
                                    "Description": { type: "string", editable: false },
                                }
                            }
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: false,
                        serverFiltering: false,
                        serverSorting: false
                    },
                    pageable: false,
                    sortable: false,
                    scrollable: false,
                    columns: [ {
                        field: "Id",
                        title: "شماره",
                        width: 50
                    },{
                        field: "Tariff.Title",
                        title: "عنوان",
                        width: 50
                    },{
                        field: "Title",
                        title: "کد تعرفه",
                        width: 50
                    },{
                        field: "Tariff.Description",
                        title: "توضیحات",
                        width: 100,
                    },{
                        field: "Description",
                        title: "توضیحات",
                        width: 350,
                    }]
                });
            });
        </script>

        <script type="text/javascript">

            $(document).ready(function () {
                $('#attach-tariff').click(function () {
                    var grid = $("#tariffs-grid").data("kendoGrid");
                    var selectedItem = grid.dataItem(grid.select());
                    if(selectedItem == null)
                    {
                        $("#window-tariff").html("لطفا ابتدا تعرفه مورد نظر را از لیست زیر انتخاب کنید");
                        $("#window-tariff").kendoWindow({
                            actions: ["Close"],
                            draggable: false,
                            height: "100px",
                            modal: true,
                            pinned: false,
                            resizable: false,
                            title: "",
                            width: "500px"
                        }).data("kendoWindow").center().open();
                        return;
                    }
                    else
                    {
                        $.ajax({
                            dataType: "json",
                            async:false,
                            type:'post',
                            url: "@(Url.Action("AttachTariff", "Split"))",
                            data: { "tariffAreaId": selectedItem.Id, "splitId": '@Model.Id' },
                            success: function(data) {
                                $("#window-tariff").html(data.msg);
                                $("#window-tariff").kendoWindow({
                                    actions: ["Close"],
                                    draggable: false,
                                    height: "100px",
                                    modal: true,
                                    pinned: false,
                                    resizable: false,
                                    title: "",
                                    width: "500px"
                                }).data("kendoWindow").center().open();
                                var grid = $('#current-tariffs-grid').data('kendoGrid');
                                grid.dataSource.read();
                                grid.refresh();
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert('Failed to retrieve states.');
                            }
                        });
                    }
                })

                $('#remove-tariff').click(function () {
                    $.ajax({
                        dataType: "json",
                        async:false,
                        type:'post',
                        url: "@(Url.Action("RemoveTariff", "Split"))",
                        data: { "splitId": '@Model.Id' },
                        success: function(data) {
                            $("#window-tariff").html(data.msg);
                            $("#window-tariff").kendoWindow({
                                actions: ["Close"],
                                draggable: false,
                                height: "100px",
                                modal: true,
                                pinned: false,
                                resizable: false,
                                title: "",
                                width: "500px"
                            }).data("kendoWindow").center().open();
                            var grid = $('#current-tariffs-grid').data('kendoGrid');
                            grid.dataSource.read();
                            grid.refresh();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve states.');
                        }
                    });
                })


            });

            function additionalDataCurrentTariff() {
                return {
                    splitId : '@Model.Id'
                };
            }
        </script>
        <hr />
        <div class="section-header">
            <div class="title">
                <span class="page-title">لیست تعرفه ها</span>
            </div>
            <div class="options">
                <input type="button" id="attach-tariff" class="k-button" value="ضمیمه کردن تعرفه به انشعاب" />
            </div>
        </div>

        <div class="fieldset">
            <div class="fieldset product-selectors">
                <table width="100%">
                    <tr>
                        <td class="adminTitle" style="width:10%">
                            @Html.LabelFor(model => model.CTariffId):
                        </td>
                        <td class="adminData">
                            @Html.DropDownList("CTariffId", Model.CTariffs)
                        </td>
                    </tr>
                </table>
            </div>
            <table class="adminContent" style="width:100%;">
                <tr>
                    <td>
                        <div id="tariffs-grid" style="width:100%;"></div>

                        <script>
                            $(document).ready(function () {
                                $("#tariffs-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("TariffAreaList", "Tariff"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalDataTariff
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors",
                                            model: {
                                                id: "Id", // define the model of the data source. Required for validation and property types.
                                                fields: {
                                                    "Tariff.Title": { type: "string", editable: false }, //تعيين نوع فيلد براي جستجوي پويا مهم است
                                                    "Title": { type: "string", editable: false },
                                                    "Tariff.Description": { type: "string", editable: false },
                                                    "Description": { type: "string", editable: false },
                                                }
                                            }
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: false
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    sortable: true,
                                    scrollable: false,
                                    selectable: "row",
                                    columns: [ {
                                        field: "Id",
                                        title: "شماره",
                                        width: 50
                                    },{
                                        field: "Title",
                                        title: "عنوان",
                                        width: 50
                                    },{
                                        field: "Title",
                                        title: "کد تعرفه",
                                        width: 50
                                    },{
                                        field: "Tariff.Description",
                                        title: "توضیحات",
                                        width: 100,
                                    },{
                                        field: "Description",
                                        title: "توضیحات",
                                        width: 350,
                                    }]
                                });
                            });
                        </script>

                        <script type="text/javascript">

                            $(document).ready(function () {
                                $("#CTariffId").change(function () {
                                    //search
                                    var grid = $('#tariffs-grid').data('kendoGrid');
                                    grid.dataSource.read();
                                    return false;
                                });
                            });

                            function additionalDataTariff() {
                                return {
                                    CTariffId: $('#CTariffId').val()
                                };
                            }
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    }
}
else
{
    <div class="fieldset">
        <div class="title">
            <strong>لطفا ابتدا مشخصات انشعاب را وارد کرده و ذخیره کنید</strong>
        </div>
        <hr />
    </div>
}

<div id="window-tariff" style="text-align:center;font-size:20px;">
</div>