﻿@model SplitModel
@{
    //page title
    ViewBag.Title = "ویرایش انشعاب";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page split-page">
    <div class="page-body">
        @using (Html.BeginForm())
        {
            <div class="section-header">
                <div class="title">
                    <span class="glyphicon glyphicon-flash"></span>
                    <span class="page-title">ویرایش انشعاب  @Model.Id @Model.Title</span>
                   - @Html.ActionLink("بازگشت به لیست انشعاب ها", "List")
                </div>
                <div class="options">
                    <input type="submit" name="save" class="k-button" value="ذخیره" />
                    <input type="submit" name="save-continue" class="k-button" value="ذخیره و ادامه" />
                    <span id="split-delete" class="k-button">حذف انشعاب</span>
                </div>
            </div>
            @Html.Partial("_CreateOrUpdate", Model)
        }
    </div>
</div>
@Html.DeleteConfirmation("split-delete")

