﻿@model RequestModel

@if (Model.Id > 0)
{
    <div class="title" style="margin-bottom:20px;margin-top:10px;font-size:20px">
        <span class=" page-title">
            لطفا مدارک مورد نیاز را به ترتیب از لیست زیر انتخاب کرده و برای ما ارسال کنید
        </span>
    </div>

    <p>
        <strong style="font-size:18px">@T("Admin.Documents.Files.AddNew")</strong>
    </p>
    <hr />

    <script type="text/javascript">

        $(document).ready(function () {
            $('#addRequestFiles').click(function () {
                var fileId = $("#@Html.FieldIdFor(model => model.AddFileModel.File_Id)").val();
                var description = $("#Description :selected").text();

                if (fileId == 0) {
                    alert('@T("Admin.Documents.Files.uploadFileFirst")');
                    return;
                }

                $('#addRequestFiles').attr('disabled', true);
                $.ajax({
                    cache:false,
                    type: "POST",
                    url: "@(Url.Action("RequestFileAdd", "Request"))",
                    data: { "fileId": fileId, "description":description, "requestId": @Model.Id },
                    success: function (data) {
                        var grid = $("#requestfiles-grid");
                        grid.data('kendoGrid').dataSource.read();
                        $('#addRequestFiles').attr('disabled', false);
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('@T("Admin.Documents.Files.AttachFailed")');
                        $('#addDocumentFiles').attr('disabled', false);
                    }
                });
            });
        });
    </script>
    <table class="adminContent">
        <tr>
            <td class="adminTitle" style="width:25%"></td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddFileModel.File_Id)
                @Html.ValidationMessageFor(model => model.AddFileModel.File_Id)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.AddFileModel.Description):
            </td>
            <td class="adminData">
                @Html.DropDownList("Description", new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "", Value = "0" },
                                    new SelectListItem { Text = "کپی شناسنامه", Value = "1" },
                                    new SelectListItem { Text = "کپی کارت ملی",  Value = "2" },
                                    new SelectListItem { Text = "جواز ساخت",  Value = "3" }
                                })
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <input type="button" id="addRequestFiles" class="k-button s-button" value="ضمیمه فایل" />
            </td>
        </tr>
    </table>

    <hr />
    <div>
        <div id="requestfiles-grid"></div>

        <script>
            $(document).ready(function () {
                $("#requestfiles-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("RequestFileList", "Request", new { requestId = Model.Id }))",
                                type: "POST",
                                dataType: "json"
                            },
                            update: {
                                url:"@Html.Raw(Url.Action("RequestFileUpdate", "Request"))",
                                type: "POST",
                                dataType: "json"
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("RequestFileDelete", "Request"))",
                                type: "POST",
                                dataType: "json"
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id",
                                fields: {
                                    FileName: {editable: false, type: "string" },
                                    DisplayOrder: {editable: true, type: "number", validation: { min:1 } },
                                    Description: {editable: true, type: "string" }
                                }
                            }
                        },
                        requestEnd: function(e) {
                            if(e.type=="update") {
                                this.read();
                            }
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    editable: {
                        confirmation: false,
                        mode: "inline"
                    },
                    scrollable: false,
                    edit: function(e) {
                        e.container.find("a.k-button.k-grid-update").html('<span class="k-icon k-update"></span>ثبت')
                        e.container.find("a.k-button.k-grid-cancel").html('<span class="k-icon k-cancel"></span>انصراف')
                    },
                    columns: [{
                        field: "FileName",
                        title: "@T("Admin.Documents.Files.Fields.FileName")",
                        width: 200
                    },
                    {
                        field: "Description",
                        title: "عنوان فایل",
                        width: 150
                    },
                    {
                        command: [{
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }],
                        width: 200
                    }]
                });
            });
        </script>
    </div>
}
else
{
    <span>لطفا ابتدا فرم مرحله 1 را پر کنید</span>
}