﻿@model PrivateMessageModel
@using Energy.Web.Models.PrivateMessages;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("PageTitle.ViewPM").Text);
}
<div class="page private-message-view-page">
    <div class="page-title">
        <h1>مشاهده پیام دریافت شده</h1>
    </div>
    <div class="page-body">
        <div class="view-message">
            <div>
                <label>ارسال کننده</label>
                <span>@Model.CustomerFromName</span>
            </div>
            <div>
                <label>دریافت کننده</label>
                <span>@Model.CustomerToName</span>
            </div>
            <div>
                <label>موضوع</label>
                <span>@Model.Subject</span>
            </div>
            <div class="message">
                <label>متن پیام</label>
                <span>@Html.Raw(Model.Message)</span>
            </div>
            <div class="options">
                <input type="button" class="button-1 reply-pm-button" value="پاسخ" 
                        onclick="setLocation('@Url.RouteUrl("SendPMReply", new { toCustomerId = Model.FromCustomerId, replyToMessageId = Model.Id })')" />
                <input type="button" class="button-2 delete-pm-button" value="حذف" 
                        onclick="setLocation('@Url.RouteUrl("DeletePM", new { privateMessageId = Model.Id })')" />
                <input type="button" class="button-2 back-pm-button" value="بازگشت" 
                        onclick="setLocation('@Url.RouteUrl("PrivateMessages")')" />
            </div>
        </div>
    </div>
</div>
